.modal-container{
    bottom: 53px;
    right: 0;
    width: 100%;
    height: 180px;
    font-size: 100px;
    background-color: rgb(250, 128, 114);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    z-index: 99;
}


.modal-container p:not(:first-child){
    font-size: 1rem;
}